<nav class="navbar navbar-default">
    <div class="container-fluid">
       <div class="navbar-header">
            <a href="http://" class="navbar-brand">Recipe Book</a>
            <button type="button" class="navbar-toggle collpsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>   
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

            </button>
       </div>
       <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a  (click)="onselectEvent('recipes')">Recipes</a></li>
                <li><a (click)="onselectEvent('shopping-list')">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Menu1</a></li>
                        <li><a href="#">Menu2</a></li>
                        <li><a href="#">Menu3</a></li>
                    </ul>
                </li>
            </ul>

       </div>               
    </div>
</nav>